{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home-G4Car
{% endblock %}

{% block main %}

    <a href="cadastro_movimento/">Cadastro Movimento</a>
    <a href="listagem_movimentos/">Listagem Movimentos</a> <br>

    <a href="cadastro_mensalista/">Cadastro Mensalista</a>
    <a href="listagem_mensalistas">Listagem de Mensalistas</a>
    <a href="cadastro_parametro/">Cadastro de parametro</a>
    <a href="listagem_parametros/">Listagem Parametros</a>

    <br/><br/>
    <img src="{% static 'img/fundo.png' %}" width="550px">
{% endblock %}